html {
  /*para que el fondo se adapte al tamaño de la
    pantalla*/
  height: auto;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--color-bg) !important;
  text-transform: uppercase;
  overflow-x:hidden !important;
  font-family: var( --font-family);
}

.header {
  margin-top: 8rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 5vw;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, #00a19c 18%, #05c0e6 77%);
  border: 2.9px dotted #525252;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0078a8;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 3.1px dotted #ffffff;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
@media screen and (max-width: 350px) {

  .header {

    font-size: 2rem;
 
  }

  body {
 
  overflow-x:scroll !important;
  
}
}