@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  /***CSS VARIABLES**/
  --font-family: 'Manrope', sans-serif;

  --gradient-text:linear-gradient(35deg, rgba(3,168,147,1) 0%, rgba(1,99,120,1) 47%, rgba(0,212,255,1) 100%);
  --gradient-bg:linear-gradient(173deg, rgba(0,140,133,1) 0%, rgba(23,100,117,1) 45%, rgba(1,96,115,1) 80%);
  
  --color-text: #fff;
  --color-bg: #040C18;



}